body {
    font-family: Arial, sans-serif;
}

.form {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form label {
    display: block;
    margin-bottom: 5px;
}

.form input[type="text"],
.form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form button[type="submit"]:hover {
    background-color: #45a049;
}
.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.333% - 20px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 20px;
}

.product-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.product-card img {
    width: 100px;
    height: 100px;
}

.product-card h2 {
    margin: 10px 0;
    font-size: 24px;
}

.product-card p {
    margin: 5px 0;
    font-size: 18px;
}